{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
    {% block content_header %}
    {% endblock %}

    {% block inner_content %}
    {% endblock %}

    {% block content_footer %}
        <div class="panel panel-default">
            <div class="panel-body pagination-centered text-center">

                <div class="media">
                    <div class="media-left">
                        <a href="https://www.ucsb.edu/">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                 style="width: 64px; height: 64px;"
                                 src="https://upload.wikimedia.org/wikipedia/en/4/49/UC_Santa_Barbara_seal.svg"
                                 data-holder-rendered="true" data-pin-nopin="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <p>

                            This study is conducted by the researchers from the </p> <p> <a href="https://www.ucsb.edu/">University of California, Santa Barbara
                        </a> and the <a href="http://www.usc.edu/">University of Southern California</a>. </>
                        <p>
                            If you have any comments or concerns, please <a
                                href="mailto:tufts.usc.study@gmail.com">email</a> us.
                        </p>

                    </div>
                    <div class="media-right">
                        <a href="http://www.usc.edu/">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                 style="width: 64px; height: 64px;"
                                 src="https://upload.wikimedia.org/wikipedia/en/b/bc/University_of_Southern_California_seal.svg"
                                 data-holder-rendered="true" data-pin-nopin="true">
                        </a>
                    </div>

                </div>


            </div>
        </div>

    {% endblock %}

{% endblock %}
