{% extends "global/PageExt.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Payoffs
{% endblock %}

{% block inner_content %}
    <div class="well well-lg">
        As stated in the instructions, your final payoff includes your show up fee
        ({{ session.config.participation_fee }}) plus your
        earned points
        from all rounds. The points of all rounds are converted to dollars at a rate of {{ show_rate }} per point and
        added to the
        show up fee. In
        addition, you
        earned some additional points from the compensated survey questions. These points will be converted to dollars
        using the same rate.
    </div>
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Points</th>
            <th>Dollars</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Your show up fee</td>
            <td>{{ part_fee_in_points }}</td>
            <td>{{ session.config.participation_fee }}</td>
        </tr>
        <tr>
            <td>Initial wallet:</strong>
            </td>
            <td></td>
            <td>{{ wallet }}</td>
        </tr>
        <tr>
            <td>Total earnings in all {{ Constants.num_rounds }} rounds:</strong>
            </td>
            <td>{{ total_game_earnings }}</td>
            <td>{{ real_total_game_earnings }}</td>
        </tr>
        <tr>
            <td>The randomly selected lottery in the Compensated Survey Questions was
                row {{ player.stage3_chosen_lottery }}</td>
            <td>{{ player.stage3_payoff }}</td>
            <td>{{ lottery_payoff_us }}</td>
        </tr>

        <tr class="success final_row">
            <th> Your total payoff is:</th>
            <th>{{ participant_payoff_points }}</th>
            <th>{{ participant.payoff_plus_participation_fee }}</th>

        </tr>


        </tbody>
    </table>
    {% formfield player.general_comments %}
    {% next_button %}
{% endblock %}

{% block styles %}

{% endblock %}
